<li>
  <div class="panel panel-info">
    <div class="panel-heading">{{#link-to 'article' article.id}}
      <h1>{{article.id}}</h1>
      <h2>{{article.title}}</h2>
      <h4>{{article.author}}</h4>
    {{/link-to}}</div>
    <div class="panel-body">
      <img src="{{article.image}}" alt="{{article.alt}}" />
    <p>
      {{article.text}}
    </p>
    </div>
  </div>
</li>
