<h2>{{model.title}}</h2>
<hr>
<h3>By {{model.author}}</h3>
<hr>
<p>
  {{model.text}}
</p>
<div class="well">
  {{update-article updateArticle="updateArticle" model=model}}
</div>
<button class="btn btn-danger" {{action 'destroyArticle' model}}>hello ima destroy</button>
